*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/external/distribution/include
/external/distribution/lib
/external/dukat/build
/external/SDL2/build
/external/SDL2_image/build